<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear una nueva nota</h1>
    <form method="POST">
        <label for="title">Título</label>
        <input type="text" name = "title" id="title">
        <br>
        <label for="content">Contenido</label>
        <input type="text" name = "content" id="content">

        <input type="submit" value = "Crear Nota">
    </form>
</body>
</html>